<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="craitsonmayer.com.br.aula1" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".SaudacaoActivity">
            <intent-filter>
                <action android:name="helloandroid.ACAO_EXEBIR_SAUDACAO" />
                <action android:name="helloandroid.CATEGORIA_SAUDACAO" />
                <action android:name="helloandroid.category.DEFAULT" />
            </intent-filter>>

        </activity>

    </application>

</manifest>
